.loaderWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #08111B;
}

.spinner {
  width: 56px;
  height: 56px;
  border-radius: 50%;
  border: 6px solid rgba(255, 255, 255, 0.1);
  border-top-color: #06eef5;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}