@import "tailwindcss";

body {

  color: white;
  font-family: "Outfit", sans-serif;
}
.appWrapper {
  min-height: 100vh;
  display: flex;
  flex-direction: column;

  min-height: 100vh;
}

.contentWrapper {
  flex: 1;
}
